* {
    padding: 0;
    margin: 0;
    border: none;
    
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #e7cba8;
    background-image: url(img/bg.png);
}
p {
    font-size: 2em;
    color: #fff5e9;
 }
input[name="MemeSlider"] {
    position: absolute;
    visibility: hidden;
}
.slider_block {
    background-color: rgba(54,54,124,0.8); 
    border-radius: 1.5em;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    margin: 50px auto 50px auto;
    padding: 15px 0 15px 0;
    overflow: hidden;
    
}
.slider {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    
}
.slides {
    display: flex;
    box-sizing: border-box;
    width: 600%;
    height: 100%;
    overflow: hidden;
}
.slide {
    width: 17%;
    transition: all .5s ease;
}
.control_panel {
    display: flex;
    position: absolute;
    bottom: 5%;
    right: 25%;
}
 .control {
    width: 1.5em;
    height: 1.5em;
    margin: 5px;
    background-color: #e7cba8;
    border-radius: 50%;
    cursor: pointer;
    transition: all .5s ease;
 }

 .control:hover {
    transform: scale(1.2);
    background-color: #bd9360;
 }



 